@charset "UTF-8";
/* ==|== &colours ==============================================================

     colour							#

	 ========================================================================== */
/* ==|== &INDEX ================================================================

	1. BASE STYLES
	1.a Normalize
		1.a.i HTML5 display definitions
		1.a.ii Base
		1.a.iii Links
		1.a.iv Typography
		1.a.v Lists
		1.a.vi Embedded content
		1.a.vii Figures
		1.a.viii Forms
		1.a.ix Tables
		1.a.x Chrome Frame Prompt
	1.b Fonts

	2. BLOCKS
	2.a Main Structure
		2.a.i Header
		2.a.ii Primary Content
		2.a.iii Secondary Content
		2.a.iv Footer
	2.b Media Block
	2.c Flex Video
	2.d Navigation
	2.e Buttons
	2.f Forms
		2.f.i Date Picker
		2.f.ii Autocomplete
		2.f.iii Wysiwyg
	2.g Icons
	2.h Alerts
	2.i Labels
	2.j Gallery
	2.k Pagination
	2.l Comments
		2.l.i Comment
		2.l.ii Pingbacks / Trackbacks
		2.l.iii Comment Form
	2.m Widgets
	2.n Progress Bars
	2.o Drag & Drop
	2.p Tool Tips

	3. GENERAL STYLING
	3.a Typography
		3.a.i Headers
		3.a.ii Lists
		3.a.iii Horizontal Rules
		3.a.iv Typography Modifiers
	3.b Backgrounds & Borders
	3.c Layout
		3.c.i Layout Modifiers
	3.d Helpers

	4. ANIMATIONS

	5. GRID AND MEDIA QUERIES

	5. PRINT STYLES

	 ========================================================================== */
/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
	 HTML5 display definitions
	 ========================================================================== */
/*
 * 1. Corrects `block` display not defined in IE 8/9.
 * 2. Corrects `inline-block` display not defined in IE 8/9.
 * 3. Prevents modern browsers from displaying `audio` without controls.
 *	Remove excess height in iOS 5 devices.
 * 4. Addresses styling for `hidden` attribute not present in IE 8/9.
 *
 * Apply a natural box layout model to all elements.
 * Be aware that IE8 and up support box-sizing, IE7 & 6 require polyfill.
 * Associated jQuery bug - http://mopo.ws/AsGGa2
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

/* 1 */
audio, canvas, video {
  display: inline-block;
}

/* 2 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* 3 */
[hidden] {
  display: none;
}

/* 4 */
/* =============================================================================
	 &Base
	 ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 *
 * Apply a natural box layout model to all elements.
 * Be aware that IE8 and up support box-sizing, IE7 & 6 require polyfill.
 * Associated jQuery bug - http://mopo.ws/AsGGa2
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: #2b2b2b;
  font-size: 100%;
  /* 16 */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: Arial,	sans-serif;
  color: #f1f1f1;
  text-shadow: 0 1px #000;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 1.75;
  margin: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 */
::-moz-selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

/* =============================================================================
	 &Links
	 ========================================================================== */
a {
  color: #B3FFEB;
  text-decoration: none;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  outline: 0;
}

a:hover {
  color: #e5e5e5;
}

a:active {
  color: #c5c5c5;
  -webkit-transition: all 0ms;
  -moz-transition: all 0ms;
  -o-transition: all 0ms;
  transition: all 0ms;
}

a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
	 &Typography
	 ========================================================================== */
p {
  hyphens: auto;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

i {
  font-style: normal;
}

blockquote {
  position: relative;
  padding: 0 1em;
}

blockquote:before,
blockquote:after {
  position: absolute;
  font-family: "Times New Roman";
  font-size: 6em;
  color: #e6e6e6;
}

blockquote:before {
  content: "\201c";
  left: -0.35em;
  top: -0.425em;
}

blockquote:after {
  content: "\201d";
  right: -0.35em;
  bottom: -0.85em;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #cccccc;
}

ins {
  background: #ff9;
  color: black;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: black;
}

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
    background: hsla(0, 0%, 0%, .1);
    margin: 1rem 0;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: inset 0 1px 2px 1px hsla(0, 0%, 0%, .2);
}

kbd {
  font-size: 85%;
  padding: .25em .5em;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  vertical-align: middle;
}

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
	 &Lists
	 ========================================================================== */
ul, ol {
  margin: 14px 0;
  margin: 1rem 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
	 &Embedded content
	 ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
  width: auto;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Prevent images and embeds from exceeding width of containing element
 * width:; and height:; above apply
 */
img, embed, object, video {
  max-width: 100%;
}

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
	 &Figures
	 ========================================================================== */
figure {
  margin: 0;
}

/* =============================================================================
	 &Forms
	 ========================================================================== */
form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE8/9
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  padding: 0;
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button, input, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
  vertical-align: baseline;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"],
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled], :disabled, .disabled, .unselectable {
  color: #999;
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 4. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 * 5. Removes inner padding and search cancel button in Safari 5 and Chrome
 * 	on OS X.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 3 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 4 */
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 5 */
/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/*input:valid, textarea:valid {}
input:invalid, textarea:invalid {}*/
::-webkit-input-placeholder {
  color: #aaa;
}

:-moz-placeholder {
  color: #aaa;
}

:-o-placeholder {
  color: #aaa;
}

:-ms-placeholder {
  color: #aaa;
}

focus::-webkit-input-placeholder {
  color: #cccccc;
}

focus:-moz-placeholder {
  color: #cccccc;
}

focus:-o-placeholder {
  color: #cccccc;
}

focus:-ms-placeholder {
  color: #cccccc;
}

/* =============================================================================
	 &Tables
	 ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

td, th {
	padding: 1rem;
	border: 1px solid #333;
	box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 0%, .1);
}


/* =============================================================================
     2.d &Navigation
	 ========================================================================== */
/*
 * Nav abstraction - use classes specific to particular nav
 * to differentiate - http://mopo.ws/zadlrO
 */
.menu {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.menu-item {
  position: relative;
  display: inline;
}

.menu-item > a {
  display: inline-block;
  padding: .5em 1em;
}

.menu-item > a:hover {
  background: hsla(0, 0%, 100%, .15);
}

.sub-menu {
  position: absolute;
  display: none;
  z-index: 100;
}

/* *****************************************************************************
     3. &gSTYLING
	 ************************************************************************** */
/* =============================================================================
	 3.a &Typography
	 ========================================================================== */
/*
 * The following styles ensure that font sizes can be reused in markup
 * rather than applying the same font-size value to multiple selectors.
 *
 * All line heights are 24px to ensure a consistent vertical rhythm.
 * Line heights should be set to match line-height set on body.
 *
 */
/*
 * Common margin-bottom for vertical rhythm.
 */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
fieldset,
p,
table,
pre,
hr {
  margin-top: 14px;
  margin-top: 1rem;
  margin-bottom: 14px;
  margin-bottom: 1rem;
}

/*
 * Massive type
 */
.fs-giga {
  font-size: 80px;
  font-size: 5.714rem;
  line-height: 1;
}

.fs-mega {
  font-size: 56px;
  font-size: 4rem;
  line-height: 1;
}

.fs-kilo {
  font-size: 44px;
  font-size: 3.143rem;
  line-height: 1;
}

/*
 * Define headings and their associated classes here.
 */
h1, .fs-alpha {
  font-size: 32px;
  font-size: 2.286rem;
  line-height: 1;
}

h2, .fs-beta {
  font-size: 28px;
  font-size: 2em;
  line-height: 1;
}

h3, .fs-gamma {
  font-size: 24px;
  font-size: 1.714rem;
  line-height: 1;
}

h4, .fs-delta {
  font-size: 20px;
  font-size: 1.429rem;
  line-height: 1;
}

h5, .fs-epsilon {
  font-size: 18px;
  font-size: 1.286rem;
  line-height: 1;
}

h6, .fs-zeta {
  font-size: 16px;
  font-size: 1.143rem;
  line-height: 1;
}

/*
 * Smaller-than-body-copy sizes here.
 */
.fs-milli {
  font-size: 12px;
  font-size: 0.857rem;
  line-height: 1;
}

.fs-micro {
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 1;
}

/* -----------------------------------------------------------------------------
	 3.a.i &Headers
	 -------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { font-weight: normal;}

/* -----------------------------------------------------------------------------
	 3.a.ii &Lists
	 -------------------------------------------------------------------------- */
.list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* ==|== layout helpers ================= ======================================
     ========================================================================== */
/* Floating & Alignment */
.fl {
  float: left;
}

.fr {
  float: right;
}

.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.ar {
  text-align: right;
}

/* Alignment (post images) */
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  display: inline;
  float: left;
  margin: 5px 14px 5px 0;
}

.alignright {
  display: inline;
  float: right;
  margin: 5px 0 5px 14px;
}

/* =============================================================================
	 3.b &Backgrounds & Borders
	 ========================================================================== */
.bgi-alpha { background: url(img/navy_blue.png) repeat left top;}

.bgc-alpha-mod {
    background-color: #fff;
    background-color: hsla(0, 0%, 100%, .1);
}

.bgc-beta-mod {
    background-color: #2d2d2d;
    background-color: hsla(0, 0%, 0%, .85);
}

.opacity-80 { opacity: .8;}
/* =============================================================================
	 3.c &Layout
	 ========================================================================== */
/* use to set max width of content areas */
.wrap {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 &mLayout
	 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* display level modifiers */
.d-block {
  display: block;
}

/* required for <button>, <input>, and <textarea>*/
input.d-block,
textarea.d-block,
button.d-block {
  width: 100%;
}

.d-iblock {
  display: inline-block;
}

/* margin modifiers */
.mtb-beta {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mb-beta { margin-bottom: 2rem;}

.mtb-gamma {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mb-gamma { margin-bottom: 3rem;}


/* =============================================================================
     3.d &Helpers
	 ========================================================================== */
/*
 * For image replacement: http://mopo.ws/wj7fIN
 * Nicholas Gallagher's detailed post on new .ir - http://mopo.ws/wHCSUu
 * Causes issues with em based margins on elements using .ir
 */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
:root .visuallyhidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: 0;
}

.ie8 .visuallyhidden-ie8 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: 0;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* Clearfix for containing floats: h5bp.com/q */
.cf:before, .cf:after {
  content: "";
  display: table;
  height: 0;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* *****************************************************************************
	 5. &GRID & MEDIA QUERIES
	 ************************************************************************** */

.row {
  margin-left: -14px;
}

.ie8 .row,
.ie7 .row {
  margin-left: 0;
}

/* Reusable column setup */
.col {
  border: 0 solid rgba(0, 0, 0, 0);
  border-left-width: 14px;
  border-left-width: 1rem;
  float: left;
  margin-bottom: 14px;
  margin-bottom: 1rem;
  padding: 0;
  position: relative;
  -webkit-background-clip: padding-box !important;
  -moz-background-clip: padding-box !important;
  -o-background-clip: padding-box !important;
  background-clip: padding-box !important;
}

.col-1 { width: 8.33333333333%;}
.col-2 { width: 16.6666666667%;}
.col-3 { width: 25.0%;}
.col-4 { width: 33.3333333333%;}
.col-5 { width: 41.6666666667%;}
.col-6 { width: 50.0%;}
.col-7 { width: 58.3333333333%;}
.col-8 { width: 66.6666666667%;}
.col-9 { width: 75.0%;}
.col-10 { width: 83.3333333333%;}
.col-11 { width: 91.6666666667%;}
.col-12 {
  margin-left: 0;
  width: 100%;
}