<footer>
	<div class="wrap cf">
		<p class="ac"><small><a href="{{ site.production_url }}">Fork this project on github</a> or <br>
		share it on <a href="http://twitter.com/" onclick="popUp=window.open('http://twitter.com/home?status=via @mousepotatoweb Easily stick elements to top on scroll - http://sdbondi.github.com/jquery-sticktotop', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false">twitter</a>, or <a href="http://plus.google.com" onclick="popUp=window.open('https://plus.google.com/share?url=/', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false"><i class="icon icon-gplus"></i>google+</a></small></p>
	</div>
</footer>

{% include scripts.html %}
