<header>
	<div class="bgc-alpha-mod">
		<div class="wrap cf">
			<h1><a href="/">StickToTop</a> <span class="fs-zeta">- jQuery plugin</span></h1>
		</div>
	</div>
	<div class="sticky bgc-beta-mod mb-beta">
		<nav class="wrap ar">
			<ul class="menu">
				<li class="menu-item">demos:</li>
				<li class="menu-item"><a href="/sidebar.html">sidebar</a></li>
				<li class="menu-item"><a href="http://sdbondi.github.com/jquery-sticktotop/tetris-heart">sidebar</a></li>
				<li class="menu-item"><a href="http://sdbondi.github.com/jquery-sticktotop/tetris-heart">sidebar</a></li>
				<li class="menu-item"><a href="http://sdbondi.github.com/jquery-sticktotop/tetris-heart">sidebar</a></li>
			</ul>
		</nav>
	</div>
</header>