<header>
	<div class="bgc-alpha-mod">
		<div class="wrap cf">
			<h1><a href="{{ HOME_PATH }}">{{ site.title }}</a></h1>
		</div>
	</div>
	<div class="{% if page.stickyNavClass%}{{ page.stickyNavClass }} {% endif %}bgc-beta-mod mb-beta">
		<nav class="wrap ar">
			<ul class="menu">
				<li class="menu-item"><a href="https://github.com/sdbondi/JQuery-StickToTop">see it on github</a></li>
				<li class="menu-item">share it on:</li>
				<li class="menu-item"><a href="http://twitter.com/" onclick="popUp=window.open('http://twitter.com/home?status=via @mousepotatoweb Easily stick elements to top on scroll - http://sdbondi.github.com/jquery-sticktotop', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false">twitter</a></li>
				<li class="menu-item"><a href="http://plus.google.com" onclick="popUp=window.open('https://plus.google.com/share?url=/', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false"><i class="icon icon-gplus"></i>google+</a></li>
		</nav>
	</div>
</header>