body { width: 100%; margin: 0; padding: 0;}
ul { list-style-type: none; }

header { 
	background: #D3D3D3;
	width: 100%;
	height: 100px; 
	margin-bottom: 30px;
	padding: 10px;
}
header h1 { 
	font-family: Verdana, sans-serif;
	font-size: 1.769em;
	line-height: 1.231;
	padding-bottom: 12px;
}

header nav { 
	display: block;
	height: 50px;
	width: 684px;
	background-color: slategray;
	padding: 1px 10px;
	float: right;
}

header nav ul li {
	float: left;
	margin-left: 10px;
}

div#primary {
	width: 90%;
	max-width: 960px;
	margin: 0 auto; 
}
div#primary #content {
	float: right;
	width: 70%; 
	height: 2000px; 
	padding-left: 3.33%;
	
	/* Carbon by Atle Mo (design), Sébastien Grosjean (code) */
		 background: 
		 -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px, -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px, -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px, -webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px, -webkit-linear-gradient(0deg, #1B1B1B 10px, transparent 10px),
		 -webkit-linear-gradient(#1D1D1D 25%, #1A1A1A 25%, #1A1A1A 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
		 background-color: #131313;
		 background-size: 20px 20px;
}
aside { 
	float: left;
	width: 250px; 
	height: 500px; 
	background: #A7A7A7;
}
aside ul {
	margin-top: 30px;
}
aside ul li {
	font-family: Verdana;
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	margin: 10px 0;
}
footer {
	background: #D3D3D3; 
	width: 100%; 
	height: 700px; 
	clear: both;
}