<!DOCTYPE html>
<html>

	{% include head.html %}

	<body class="bgi-alpha">

	{% include header.html %}

	<div class="wrap">
		<div class="row cf">
			<div class="col col-3">
				{% include sidebar.html %}
			</div><!-- .col -->

			<div class="col col-9">
				{{ content }}
			</div><!-- .col -->
		</div><!-- .row -->
	</div>

	{% include footer.html %}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
	<script src="/assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="jquery-sticktotop.js" type="text/javascript"></script>
	<script type="text/javascript">
		$('.sticky').stickToTop();
		// $('.sticky-sidebar').stickToTop();
	</script>

	</body>
</html>
